@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Leckerli+One&family=Montserrat:wght@100;400;600&display=swap');
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: 'Montserrat', sans-serif;
    color: indigo;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: url(img/1643911522_1-phonoteka-org-p-fon-dlya-obyavleniya-kartinki-1-1.jpg) no-repeat;
    background-size: cover;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

a.logo {
    font-family: 'Leckerli One', cursive;
    font-weight: 600;
    font-size: 36px;
    color: white;
    display: block;
    text-decoration: none;
}

nav {
    background-color: rgba(148, 86, 140, 0.69);
    color: white;
    font-size: 18px;
}

form .btn {
    background-color: rgba(148, 86, 140, 0.78) !important;
    width: 70px;
}

form .btn:hover {
    background-color: #719d6f !important;
}

form .btn, form .form-control{
    border-radius: 25px;
}

.nav-item-advert {
    padding: 0;
    background-color: rgb(113, 157, 111);
    border-radius: 25px;
}

.options li {
    display: inline-block;
}

.user-icon {
    margin-left: 30px;
    cursor: pointer;
    transition: color 500ms ease;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e4fae4;
    width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
}


.dropdown-content a, .dropright-content a, .dropright-content-ch a {
    color: #60385b;
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover,
.user-icon.active {color: rgb(113, 157, 111);
}

.drop {
    display: grid;
    position: relative;
}

.dropright-content {
    display: none;
    position: absolute;
    background-color: #e4fae4;
    width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    right: 180px;
}

.dropright-content a:hover {
    background-color: #ddd;
}

.drop:hover .dropright-content {display: block;}

.drop-ch {
    display: grid;
    position: relative;
}

.dropright-content-ch {
    display: none;
    position: absolute;
    background-color: #e4fae4;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 25px;
    right: 180px;
}

.dropright-content-ch a:hover {
    background-color: #ddd;
}

.drop-ch:hover .dropright-content-ch {display: block;}

header .presentation {
    margin: 40px auto;
    width: 60%;
    height: 500px;
    background-size: cover;
    background: url(img/изображение_viber_2022-10-29_22-11-58-039.png) no-repeat center center;
}

h1, .advert_list h3 {
    text-align: center;
}

.advert_list h1 {
    margin-bottom: 40px;
}

.advert_list .row {
    display: flex;
    justify-content: space-evenly;
    /*flex-wrap: wrap;*/
}

.advert_list .avatar {
    width: 100px;
    height: 120px;
}

.advert_list .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    background-color: rgba(252, 228, 248, 0.88);
    font-weight: bolder;
}

.card h5 {
    font-weight: bolder;
}

.card small {
    font-size: medium;
}

.card ul {
    list-style: none;
}

.card ul li {
    display: inline-block;
}

.card li.mode {
   color: red;
}

.card a.card-link {
    display: block;
}

.card-body {
    color: indigo;
}

.card .col-md-3 {
    position: relative;
}

.card .col-md-3 img {
    position: absolute;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

.advert-detail {
    background-color: rgba(246, 233, 246, 0.99);
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 45px;
    font-weight: bolder;
}

.advert-detail text {
   color: red;
   margin-right: 20px;
}

p.date {
    margin-right: 50px;
    padding-top: 30px;
    float: right;
}

h1.advert-title {
    text-align: center;
    padding-top: 20px;
}

.advert-images a.img {
    display: inline-block;
    width: 35px;
    text-decoration: none;
    color: indigo;
    font-weight: bolder;
}

.advert-images, scroll-container {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.advert-images {
    width: 350px;
    padding: 5px;
    /*border: 1px solid black;*/
    background-color: beige;
    margin-top: 30px;
}

scroll-container {
    display: block;
    width: 350px;
    height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background-color: beige;
    margin-bottom: 40px;
}

scroll-img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
}

.description {
    margin-top: 30px;
    margin-right: 10px;
}


.description h5{
    text-decoration: underline;
}

.phones {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

.phones button, .profile button {
    margin-top: 10px;
}

.advert-user button, .phones button, .profile button {
    border-radius: 25px;
    width: 150px;
    border-color: rgb(113, 157, 111);
    border-width: initial;

}

.advert-user .second-btn {
    background-color: rgba(148, 86, 140, 0.78);
    height: 40px;
}

.advert-user .second-btn:hover {
    background-color: #719d6f;
}

.advert-user {
    margin: 0 auto;
}

.advert-user a, .top-mess a, .modal-content-mess a, .form-signin a {
    color: indigo;
    text-decoration: none;
}

.profile button {
    margin-right: 30px;
    float: right;
    bottom: -40px;
    margin-bottom: 20px;
}

.profile {
    margin-left: 200px;
    background-color: rgba(246, 233, 246, 0.99);
    margin-right: 200px;
    border-radius: 45px;
    font-weight: bolder;
}

 i {
    font-weight: normal !important;
}

.profile h2 {
    text-align: center;
    padding-top: 20px;
}

.profile-update h2 {
    text-align: center;
    margin-bottom: 30px;
}

.profile .row, .profile-update .row {
    margin-top: 40px;
}

.profile-update label {
    margin-top: 10px;
    width: 450px;
}

.profile-update input {
    margin-bottom: 5px;
    margin-top: 5px;
}

.profile-update button {
    color: white;
    margin-top: 30px;
    width: 450px;
}

.add-avatar {
    position: relative;
    width: 200px;
    height:200px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.avatar {
    display: block;
    /*margin: 0 auto;*/
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.form-signin h2, .form-register h2 {
    text-align: center;
    margin-bottom: 40px;
}

.form-floating {
    margin-top: 25px;
}

.form-signin button, .form-register button {
    margin-top: 20px;
    height: 50px;
}

.form-signin input, .form-register input {
    height: 50px;
    margin-bottom: 10px;
}

.form-signin, .form-register {
     width: 500px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(10, 10, 10, 0.73);
    z-index: 9999;
    overflow: auto;
}

.modal-content, .modal-content-reg, .modal-content-moder, .modal-content-mess {
    width: 400px;
    height: 200px;
    position: relative;
    margin: 10% auto;
    padding: 20px 30px;
    background: #d2fad0;
    border-radius: 25px;
}

.modal-content-reg {
    width: 600px !important;
}

.modal-content-moder {
    width: 350px !important;
    padding: 0 0 !important;
    padding-top: 15px !important;
}

.modal-content-mess {
    width: 450px !important;
    height: 320px !important;
}

.modal-content-mess .modal-body {
    margin: 0 0;
    padding-left: 0;
    height: 215px;
}

.modal-content button, .modal-content-reg button, .modal-content-moder button, .modal-content-mess button {
    background: rgba(196, 156, 190, 0.7);
    color: indigo;
}

.modal-content button:hover, .modal-content-reg button:hover, .modal-content-moder button:hover, .modal-content-mess button:hover {
    background: rgb(182, 218, 181);
}

.modal-content-reg button, .modal-content-moder button, .modal-content-mess button {
    border-radius: 25px;
    width: 200px;
    margin: auto;
}

.modal-content-mess .btn-2 {
    background: rgba(238, 215, 234, 0.7);
    border-color: indigo ;
    border-style: groove;
}

.selected-photo {
    position: relative;
    width: 160px;
    height: 200px;
    margin: 7px;
    display: inline-block;
    cursor: pointer;
}

.selected-photo img, .add-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*display: block;*/
}

.delete-photo, .delete-avatar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 9;
    color: #d2fad0;
}

.selected-photo:after, .delete-photo, .delete-chat,
.add-avatar:after, .delete-avatar {
    opacity: 0;
    transition: 0.7s;
}

.selected-photo:after, .add-avatar:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.62);
}

.selected-photo:hover:after,
.selected-photo:hover .delete-photo,
.add-avatar:hover:after,
.add-avatar:hover .delete-avatar,
.chat-detail:hover .delete-chat{
    opacity: 1;
}

.add-advert .photos p {
    color: rgb(64, 161, 64);
    float: right;
}

.hidden {
    opacity: 0;
    height: 0;
    width: 0;
    line-height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
/*.selected-photo:hover .delete-photo {*/
/*    display: block;*/
/*    cursor: pointer;*/
/*}*/

.add-advert button {
    background-color: #6c3f66;
    color: white;
    font-weight: bolder;
    font-size: 19px;
    height: 41px;
    margin-top: 30px;
}

.add-advert label {
    font-weight: 500;
}

.custom-select {
    margin-top: 10px;
    /*margin-bottom: 15px;*/
    border-radius: 25px;
}

.multi-select__control {
    border-radius: 25px !important;
    margin-top: 10px !important;
    margin-bottom: 5px;
}
.multi-select__placeholder {
     color: #444444 !important;
}
.multi-select__indicator-separator {
    display: none !important;
}
.multi-select__dropdown-indicator {
    width: 35px;
}
.multi-select__multi-value {
    border-radius: 15px !important;
}
.multi-select__multi-value__remove {
    color: rgba(112, 3, 90, 0.98) !important;
}
.multi-select__multi-value__remove:hover {
    background-color: rgba(196, 156, 190, 0.7) !important;
}
.multi-select__menu {
    color: #444444 !important;
}
.multi-select__option {
    height: 21px !important;
    padding-top: 0 !important;
}
.multi-select__option:hover {
    background-color: #6e6e6e !important;
    color: white !important;
}

.error {
    color: red;
    font-size: 14px;
}

.radio {
    background-color: rgba(248, 234, 246, 0.69);
    display: inline-block;
    margin-right: 20px;
    padding-top: 7px;
    padding-bottom: 3px;
    border-radius: 25px;
    width: 120px;
    text-align: center;
    align-content: center;
    cursor: pointer;
    border-color: rgba(148, 86, 140, 0.78);
    border-style: dotted;
}
.radio:hover {
    background-color: rgb(187, 224, 187);
}

.btn-phone {
    background-color: rgba(248, 234, 246, 0) !important;
    padding-top: 7px !important;
    padding-bottom: 3px !important;
    border-radius: 25px;
    border: none;
    color: rgb(50, 129, 50) !important;
    font-weight: bolder !important;
    cursor: pointer;
    width: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chats {
    float: left;
    width: 27%;
    height: 700px;
    background-color: #f1f1f1;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-right-color: indigo;
    border-right-style: dashed;
    border-width: thin;
}

.top-chats {
    height: 90px;
    position: relative;
}

.top-chats p {
    position: absolute;
    top: 40%;
    color: #6e6e6e;
    font-size: 15px;
}

.scroll-chats, .scroll-messages {
    overflow-y: scroll;
    overflow-x: clip;
    scroll-behavior: smooth;
}

.chat-detail, .top-mess, .top-chats, .scroll-messages {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom-color: indigo;
    border-bottom-style: dashed;
    border-width: thin;
}

.chat-detail {
    position: relative;
    cursor: pointer;
}

.delete-chat {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    z-index: 9;
}

.chat-detail:hover {
    background-color: rgba(245, 226, 242, 0.91);
}

.new-count {
    background-color: rgba(250, 46, 46, 0.88);
    border-radius: 50px;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 1px;
    color: #f1f1f1;
    text-align: center;
    vertical-align: center;
    padding-top: 5px;
}

.messages {
    float: left;
    width: 73%;
    background-color: rgba(245, 226, 242, 0.91);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    height: 700px;
}

.scroll-messages {
    padding-right: 15px;
    padding-left: 15px;
    height: 530px;
}

.scroll-messages .mess-text {
    border-radius: 15px;
    border-color: indigo;
    border-style: dashed;
    border-width: thin;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.top-mess {
    background-color: #f1f1f1;
    border-top-right-radius: 25px;
    height: 90px;
    position: relative;
}

.top-mess .row {
    width: 100%;
}

.top-mess .companion {
    width: 30%;
}

.top-mess .companion p {
    padding-left: 10px;
    position: absolute;
    top: 35%;
}

.top-mess a {
    display: inline-flex;
    text-decoration: none;
    width: 100%;
}

.top-mess .advert {
    width: 70%;
}

.top-mess .not-advert {
    display: inline-flex;
    width: 70%;
}

.top-mess ul {
    list-style: none;
    width: 85%;
    text-align: right;
}

.top-mess img {
    margin: 0 auto;
    object-fit: cover;
}

.message-block {
    width: 100%;
    margin-top: 5px;
    display: inline-block;
}

.my-message {
    float: right;
}

.my-message, .companion-message {
    max-width: 55%;
}

.companion-message {
    float: left;
}

.my-message .mess-text {
    background-color: rgb(216, 238, 216);
}

.companion-message .mess-text{
    background-color: #f1f1f1;
}

.mess-form {
    background-color: #f1f1f1;
    border-bottom-right-radius: 25px;
    height: 80px;
    float: bottom;
}

.mess-form input, .mess-form button, .advert-mess-form textarea {
    height: 40px;
    border-color: indigo;
    border-style: dashed;
    border-width: thin;
    border-radius: 25px;
}

.mess-form input {
    width: 77%;
    padding-left: 10px;
    margin: 20px 10px 0 20px;
}

.mess-form button {
    width: 17%;
}

.mess-form .error {
    font-size: 12px;
    margin-left: 25px;
}

.advert-mess-form textarea {
    height: 170px !important;
    width: 390px;
    padding-left: 10px;
    padding-top: 10px;
}


/*.row-chats:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

footer {
    text-align: center;
    margin-top: 100px;
    font-weight: bolder;
    text-decoration: none;

}

